<template>
    <div>
        <div v-show="false">
            {{stats}}
        </div>
        <highcharts :options="options"></highcharts>
    </div>
</template>

<script>
export default {
  props: {
    title: {
      required: true
    },
    stats: {
      required: true
    },
    width: {
      type: Number,
      required: false,
      default: null
    },
    height: {
      type: Number,
      required: false,
      default: null
    }
  },
  data: function() {
    return {
      options: {
        chart: {
          type: 'column',
          width: this.width,
          height: this.height
        },
        title: {
          text: this.title
        },
        xAxis: {
          type: 'category'
        },
        yAxis: {
          title: {
            text: 'Porcentaje de preguntas'
          }
        },
        legend: {
          enabled: false
        },
        plotOptions: {
          series: {
            borderWidth: 0,
            dataLabels: {
              enabled: true,
              format: '{point.y:.1f}%'
            }
          }
        },
        tooltip: {
          headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
          pointFormat:
            '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },
        series: [
          {
            name: 'Preguntas',
            colorByPoint: true,
            data: this.computedStats
          }
        ]
      }
    };
  },
  computed: {
    computedStats: function() {
      if (!this.stats) {
        return [];
      }
      return this.stats;
    }
  },
  updated: function() {
    this.options.series[0].data = this.computedStats;
  }
};
</script>
