<template>
    <div class="row">
        <h1>Juegos Dinámicos</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Duración</th>
                    <th># de Unidades</th>
                    <th>Disponible hasta</th>
                    <!--<th>Operaciones</th>-->
                </tr>
            </thead>
            <tbody>
                <tr v-for="game in minigames">
                    <td>{{game.name}}</td>
                    <td>
                        <span class="badge badge-secondary">{{game.nameGameType}}</span>
                    </td>
                    <td>
                        <span class="badge badge-secondary">{{game.duration}} min</span>
                    </td>
                    <td>
                        <span class="badge badge-secondary">{{game.unitNumber}}</span>
                    </td>
                    <td>
                        <span :class="[isActiveMinigame(game.maturityDate) ? 'badge badge-success' : 'badge badge-danger']">
                            {{game.maturityDate}}
                        </span>
                    </td>
                    <!--<td>
                        <button type="button" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></button>
                    </td>-->
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    let isAfter  = require('date-fns/is_after');
    export default {
        data: function() {
            return {
                minigames: []
            };
        },
        mounted() {
            axios.get('/dynamic-minigames').then(response => {
                this.minigames = response.data;
            })
        },
        methods: {
            isActiveMinigame(maturityDate){
                return isAfter(maturityDate, new Date());
            }
        }
    };
</script>
