<template>
    <div>
      <h1>Feedbacks</h1>
      <a role="button" id="usersGameover" class="btn btn-outline-primary" href="users/reported-gameovers/download">
        Reporte Usuarios Finalistas
      </a>
      <img v-if="feedbacks.length == 0" src="/images/loader.gif" class="mx-auto d-block">

      <table class="table" v-if="feedbacks.length > 0">
          <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Feedback</th>
              <th scope="col">Enviado en</th>
              <th scope="col">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(feed, index) in feedbacks">
              <th>{{index+1}}</th>
              <td>{{feed.feedback}}</td>
              <td>{{beautyDate(feed.created_at)}}</td>
              <td>
                <button type="button" class="btn btn-danger" @click="removeFeed(feed.id, index)">Borrar</button>
              </td>
          </tr>
          </tbody>
      </table>
    </div>
</template>

<script>
let { format } = require('date-fns');
export default {
  data: function() {
    return {
      feedbacks: []
    };
  },
  mounted() {
    axios.get('feedbacks')
      .then(response => {
        this.feedbacks = response.data;
    });
  },
  methods: {
    removeFeed: function(id,index) {
      axios.delete(`feedbacks/${id}`)
        .then(response =>{
          this.feedbacks.splice(index, 1); //removing the feed from the list
        });
    },
    beautyDate: function(date) {
      return format(date, 'DD-MM-YYYY');
    }
  }
};
</script>
