<template>
    <div>
        <div class="container" style="margin-top: 10px;">
            <div class="col-12">
                <h2>Registro y borrado de Usuarios <span class="lead">con archivos</span></h2>
            </div>
            <div class="row">
                <div class="col-7">
                    <div class="card">
                        <div class="card-body">
                            <div class="alert alert-info">
                                En esta sección podrás subir un archivo excel <strong>xlsx</strong> con información
                                para registrar usuarios. El excel debe tener las siguientes columnas <strong>OBLIGATORIAMENTE</strong>
                            </div>
                            <table class="table table-sm table-bordered">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Contraseña</th>
                                    <th>Nombre Completo</th>
                                    <th>Sector</th>
                                </tr>
                                <tbody>
                                <tr>
                                    <td>PC136240</td>
                                    <td>ejempl2gmail.como</td>
                                    <td>secret</td>
                                    <td>Emilio Rodríguez Corona</td>
                                    <td>MX50020102</td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                            <form @submit.prevent="registerUsers">
                                <div class="form-group">
                                    <label for="excel_creator">Excel de registro de usuarios</label>
                                    <input type="file" class="form-control-file" name="excel_creator" id="excel_creator" accept=".xlsx" required>
                                </div>
                                <button type="submit" class="btn btn-primary" :disabled="isLoading">Registrar Usuarios</button>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="alert alert-info">
                                En esta sección podrás subir un archivo excel <strong>xlsx</strong> con información
                                para eliminar usuarios. El excel debe tener las siguiente columna <strong>OBLIGATORIAMENTE</strong>
                            </div>
                            <table class="table table-sm table-bordered">
                                <tr>
                                    <th>Nombre</th>
                                </tr>
                                <tbody>
                                <tr>
                                    <td>PC136240</td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                            <form @submit.prevent="deleteUsers">
                                <div class="form-group">
                                    <label for="excel_deletor">Excel de borrado de usuarios</label>
                                    <input type="file" class="form-control-file" name="excel_deletor" id="excel_deletor" accept=".xlsx" required>
                                </div>
                                <button type="submit" class="btn btn-primary" :disabled="isLoading">Eliminar Usuarios</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="progress" v-if="isLoading">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            <div class="row" v-if="message" style="margin-top: 30px;">
                <div class="col-12 alert alert-success">
                    {{message}}
                </div>
            </div>
            <div class="row" v-if="errors.length > 0" style="margin-top: 30px;">
                <div class="col-12 alert alert-danger">
                    No fue posible realizar la operación en ALGUNAS filas. Por favor corregirlas. El resto de filas se ejecutaron con éxito
                </div>
                <ul class="list-group">
                    <li v-for="error in errors" class="list-group-item">
                        <span class="badge badge-primary badge-pill">Fila {{error.row}}</span>
                        {{getErrors(error.errors)}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                errors : [],
                message: '',
                isLoading: false
            }
        },
        methods:{
            registerUsers(){
                const formData = new FormData();
                let excel_creator = $('#excel_creator').prop('files')[0];
                this.isLoading = true;
                formData.append('excel_creator', excel_creator);
                this.errors = [];
                this.message = '';
                axios.post('/create-users-excel', formData ,{
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                }).then(response => {
                    console.log(response.data);
                    this.message = 'Se han registrado los usuarios :D'
                    this.isLoading = false;
                }).catch(error => {
                    console.log(error.response)
                    if (error.response.status === 409){
                        this.isLoading = false;
                        this.errors = error.response.data.errors;
                    }
                });
            },
            deleteUsers(){
                const formData = new FormData();
                let excel_deletor = $('#excel_deletor').prop('files')[0];
                this.isLoading = true;
                formData.append('excel_deletor', excel_deletor);
                this.errors = [];
                this.message = '';
                axios.post('/delete-users-excel', formData ,{
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                }).then(response => {
                    console.log(response.data);
                    this.message = 'Se han borrado los usuarios :D'
                    this.isLoading = false;
                }).catch(error => {
                    console.log(error.response)
                    if (error.response.status === 409){
                        this.isLoading = false;
                        this.errors = error.response.data.errors;
                    }
                });
            },
            getErrors(errors){
                console.log(errors);
                if (errors.length === 1){
                    return errors[0];
                } else{
                    return Object.values(Object.values(errors));
                }

            }
        }
    }
</script>