<template>
    <div>
        <div class="row" style="margin-top:15px;">
            <div class="col-12">
                <div class="btn-group" role="group" aria-label="Basic example" style="margin-bottom:10px;">
                    <a role="button" id="questionsReport" class="btn btn-outline-primary"
                       href="users/global-questions-report/download">
                        Reporte Global de Preguntas de Usuarios
                    </a>
                    <a role="button" id="bubblesReport" class="btn btn-outline-primary"
                       href="users/global-bubbles-report/download">
                        Reporte Global de Burbujas de Usuarios
                    </a>
                    <a role="button" id="minigamesReport" class="btn btn-outline-primary"
                       href="users/global-minigames-report/download">
                        Reporte Global de Minijuegos de Usuarios
                    </a>
                </div>
                <div class="input-group mb-3 col-6" v-if="sectors.length > 0">
                    <select class="custom-select" v-model="sectorReport">
                        <option v-for="sector in sectors" :value="sector.id">{{sector.code}}</option>
                    </select>
                    <div class="input-group-append">
                        <a class="btn btn-outline-primary" :href="`users/general-report/download?sector=${sectorReport}`">Descargar Reporte</a>
                    </div>
                </div>

                <div v-if="isDownloading" style="margin-top:5px;">
                    <div class="alert alert-warning" role="alert" style="height: 5px;">
                        Generando Reporte: Tiempo <strong>estimado 3-5 minutos</strong>. <strong>No cambies de
                        vista</strong>, enseguida se descargara. Muchas gracias :)
                    </div>
                    <div class="progress" style="margin-bottom:3px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                </div>

            </div>
            <div class="col">
                <div>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Número de usuarios
                            <span class="badge badge-primary badge-pill">{{responseQuestions.users}}</span>
                        </li>
                    </ul>
                    <piechart :title="'Preguntas'" :stats="questionsStats"></piechart>

                </div>
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Número de usuarios
                        <span class="badge badge-primary badge-pill">{{responseBubbles.users}}</span>
                    </li>
                </ul>
                <piechart :title="'Burbujas'" :stats="bubblesStats"></piechart>
            </div>
        </div>
        <div class="row">
            <h4 class="col-12 text-center d-inline p-2 bg-primary text-white"
                style="margin-top:20px; margin-bottom: 10px;">Gráficas de preguntas por categoría</h4>
            <div v-for="(category) in categoriesStats" class="col-6">
                <piechart :title="category[0].title" :stats="category"></piechart>
            </div>
        </div>
        <div class="row">
            <h4 class="col-12 text-center d-inline p-2 bg-primary text-white" style="margin-top:20px; margin-bottom: 10px;">Gráficas de Minijuegos Dinámicos</h4>
            <div v-for="dynamicGame in responseDynamicMinigamesStats.minigamesStats" class="col-6">
                <piechart :title="dynamicGame.gameTypeName" :stats="transformDynamicMinigamesStats(dynamicGame)"></piechart>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data: function () {
            return {
                sectorReport: 1,
                sectors : [],
                questionsMock: [
                    {
                        name: 'Correctas',
                        y: 0,
                    },
                    {
                        name: 'Incorrectas',
                        y: 0
                    }],
                bubblesMock: [
                    {
                        name: 'Recolectadas',
                        y: 0
                    }, {
                        name: 'Sin recolectar',
                        y: 0
                    }],
                responseQuestions: {},
                responseBubbles: {},
                responseCategoryQuestions: [],
                isDownloading: false,
                responseDynamicMinigamesStats:[]
            }
        },
        mounted() {
            axios.get('globalStatsQuestions').then(response => {
                this.responseQuestions = response.data;
            });
            axios.get('globalStatsQuestionsByCategories').then(response => {
                this.responseCategoryQuestions = response.data;
            });
            axios.get('globalStatsBubbles').then(response => {
                this.responseBubbles = response.data;
            });
            axios.get('global-stats-dynamic-minigames').then(response => {
                this.responseDynamicMinigamesStats = response.data;
            });
            axios.get('sectors').then(response => {
                this.sectors = response.data;
            })
        },
        methods: {
            disableButton: function (event) {
                let btnId = event.target.id;
                console.log(btnId);
                $('#' + btnId).addClass('disabled');
                this.isDownloading = true;
            },
            transformDynamicMinigamesStats(responseDynamicMinigamesStats){
                if (!responseDynamicMinigamesStats) {
                    return []
                }
                let stats = [
                    {
                        name: 'Usuarios que han jugado',
                        y: 0
                    }, {
                        name: 'Usuarios sin Jugar',
                        y: 0
                    }];
                stats[0].y = responseDynamicMinigamesStats.timesPlayedPercentage;
                stats[1].y = responseDynamicMinigamesStats.timesNotPlayedPercentage;

                return stats;
            },
        },
        computed: {
            categoriesStats() {
                if (this.responseCategoryQuestions) {
                    return this.responseCategoryQuestions.map(stats => {
                        return [
                            {
                                title: stats.category,
                                name: 'Correctas',
                                y: stats.accuratePercentage
                            }, {
                                title: stats.category,
                                name: 'Incorrectas',
                                y: stats.wrongPercentage
                            }
                        ]
                    })
                } else {
                    return [];
                }
            },
            questionsStats() {
                if (!this.responseQuestions) {
                    return []
                }

                this.questionsMock[0].y = this.responseQuestions.accuratePercentage;
                this.questionsMock[1].y = this.responseQuestions.wrongPercentage;

                return this.questionsMock;
            },
            bubblesStats() {
                if (!this.responseBubbles) {
                    return []
                }

                this.bubblesMock[0].y = this.responseBubbles.recollectedPercentage;
                this.bubblesMock[1].y = this.responseBubbles.missingPercentage;

                return this.bubblesMock;

            }
        }
    }
</script>
