<template>
    <div class="row" style="margin-top:20px;">
        <div class="col-12">
            <div class="alert alert-danger" v-show="minigameMess" style="margin-top: 10px; margin-bottom: 10px;">{{minigameMess}}</div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form @submit.prevent="storeMinigame">
                        <div class="form-group">
                            <label for="name">Nombre del Minijuego</label>
                            <input type="text" class="form-control" id="name" placeholder="Escribe el nombre del Minijuego" v-model="minigame.name" required>
                        </div>
                        <div class="form-group">
                            <label for="minigameType">Tipo de Minijuego</label>
                            <select class="form-control" id="minigameType" v-model="minigame.gameType" required>
                                <option value="SEARCH_BUBBLES">Búsqueda de Burbujas</option>
                                <option value="ANSWER_QUESTIONS">Responder preguntas</option>
                                <option value="SEARCH_OBJECTS">Búsqueda de Objetos</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="maturityDate">Fecha Fin</label>
                            <input type="date" class="form-control" aria-describedby="maturityDateHelp" id="maturityDate" placeholder="Fecha fin del juego" v-model="minigame.maturityDate" required>
                            <small id="maturityDateHelp" class="form-text text-muted">Hasta esta fecha el juego estará disponible.</small>
                        </div>
                        <div class="form-group">
                            <label for="duration">Duración del juego</label>
                            <div class="input-group">
                                <input type="number" step="1" min="1" max="180" class="form-control" aria-describedby="durationHelp" id="duration" placeholder="Duración del juego" v-model="minigame.duration" required>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">minutos</span>
                                </div>
                            </div>
                            <small id="durationHelp" class="form-text text-muted">Es el tiempo en minutos que el juego durará una vez iniciado.</small>
                        </div>
                        <div class="form-group" v-if="minigame.gameType !== 'ANSWER_QUESTIONS'">
                            <label for="unitNumber">Número de Unidades</label>
                            <input type="number" step="1" min="1" class="form-control" aria-describedby="unitNumberHelp" id="unitNumber" placeholder="Ingresa el número unidades" v-model="minigame.unitNumber" required>
                            <small id="unitNumberHelp" class="form-text text-muted">Este es el número de burbujas u objetos que apareceran en el minijuego.</small>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" v-if="minigame.gameType === 'ANSWER_QUESTIONS'">
                <div class="card-body">
                    <p class="lead">Ingresa las preguntas que tendrá el minijuego</p>
                    <div class="form-group">
                        <label for="mockupQuestion">Pregunta</label>
                        <input type="text" class="form-control" id="mockupQuestion" placeholder="Escribe la pregunta que quieres agregar" v-model="question.text">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <form @submit.prevent="addAnswer" >
                                <div class="form-group">
                                    <input type="text" class="form-control" id="mockupAnswer" placeholder="Escribe la respuesta que quieres agregar" v-model="answer.text" required>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="isAnswer" v-model="answer.isAnswer">
                                    <label class="form-check-label" for="isAnswer">Es la respuesta correcta ?</label>
                                </div>
                                <button type="submit" class="btn btn-info btn-sm" style="margin-top: 10px;">Agregar Respuesta</button>
                            </form>
                        </div>
                    </div>
                    <div v-if="answers.length > 0" style="margin-top: 10px">
                        <h4>Respuestas</h4>
                        <ul class="list-group">
                            <li class="list-group-item" v-for="(answer,index) in answers" :class="[answer.isAnswer ? 'active' : '']" >{{index + 1}}.- {{answer.text}}</li>
                        </ul>
                    </div>

                    <button type="button" class="btn btn-primary" style="margin-top: 10px;" @click="addQuestion">Agregar Pregunta</button>
                </div>
            </div>
        </div>
        <div class="row" v-if="questions.length > 0">
            <h4 class="col-12" style="margin-top:20px;">Preguntas del minijuego agregadas <span class="badge badge-info">{{questions.length}}</span></h4>
            <div class="card-columns">
                <div class="card" v-for="(q, index) in questions">
                    <div class="card-body">
                        <h5 class="card-title">{{q.text}}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" v-for="answer in q.answers" :class="[answer.isAnswer ? 'active' : '']">{{answer.text}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                minigame:{
                    name: '',
                    maturityDate: '',
                    duration: 1,
                    gameType: 'ANSWER_QUESTIONS',
                    unitNumber: 1,
                },
                questions:[],
                answers:[],
                question: { text: ''},
                answer: { text: '', isAnswer: false },
                minigameMess : ''
            };
        },
        methods:{
            storeMinigame () {
                if (this.minigame.gameType === 'ANSWER_QUESTIONS' && !this.questions.length > 0) {
                    this.minigameMess = 'Agrega preguntas para este tipo de minijuego'
                }
                else{
                    axios.post('/dynamic-minigames', {
                        name: this.minigame.name,
                        maturityDate: this.minigame.maturityDate,
                        duration: this.minigame.duration,
                        gameType: this.minigame.gameType,
                        unitNumber: this.minigame.unitNumber,
                        questions : this.questions
                    })
                        .then(response => {
                            console.log(response.data)
                        }).catch(error => {
                        console.log(error.response.data)
                    });
                }
            },
            addQuestion(){
                this.minigameMess = '';
                let isAnAnswer = this.isRightAnswer();
                if(!this.question.text){
                    this.minigameMess = 'La pregunta es requerida'
                }
                else if (!this.answers.length > 0) {
                    this.minigameMess = 'Agrega respuestas a la pregunta, 1 debe ser correcta'
                }
                else if (isAnAnswer){
                    this.questions.push({
                        text: this.question.text,
                        answers: this.answers
                    });
                    this.question = { text: '' };
                    this.answer = { text: '', isAnswer: false };
                    this.answers = [];
                } else {
                    this.minigameMess = 'Agrega una respuesta correcta'
                }

            },
            addAnswer () {
                this.minigameMess = '';
                let isAnAnswer = this.isRightAnswer();
                if (!this.answer.isAnswer || (!isAnAnswer && this.answer.isAnswer)){
                    this.answers.push(this.answer);
                    this.answer = { text: '', isAnswer: false };
                } else {
                    this.minigameMess = 'Ya existe una respuesta correcta'
                }
            },
            isRightAnswer(){
                return this.answers.some(answer => {
                    return answer.isAnswer;
                });
            }
        },
        computed: {
        },
        watch: {
            'minigame.gameType' : function (newVal, oldVal){
                if (this.gameType !== 'ANSWER_QUESTIONS' ){
                    this.questions = [];
                    this.answers = [];
                    this.question = { text: ''};
                    this.answer = { text: '', isAnswer: false };
                }
            },
            questions:  function(newVal, oldVal){
                this.minigame.unitNumber = newVal.length;
            }
        }
    }
</script>