<template>
    <div>
        <form v-on:submit.prevent="storeUser" style="margin-top:30px;">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Nombre"
                       required
                       v-model="name">
            </div>
            <div class="form-group">
                <label for="completeName">Nombre Completo</label>
                <input type="text" class="form-control" id="completeName" aria-describedby="nameHelp"
                       placeholder="Nombre Completo" required
                       v-model="completeName">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required
                       placeholder="Enter email" v-model="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" v-model="password"
                       required>
            </div>
            <div class="form-group">
                <label for="region">Región</label>
                <select class="form-control" id="region" v-model="region" required>
                    <option v-for="reg in regions" :value="reg.id">{{reg.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="district">Distrito </label>
                <select class="form-control" id="district" v-model="district" required>
                    <option v-for="dis in districts" :value="dis.id">{{dis.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="sector">Sector</label>
                <select class="form-control" id="sector" v-model="sector" required>
                    <option v-for="sec in sectors" :value="sec.id">{{sec.name}}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <div v-if="recentUser.id" class="alert alert-primary" role="alert" style="margin-top: 10px;">
                El usuario <strong>{{recentUser.name}} </strong> con el email <strong>{{recentUser.email}}</strong> ha
                sido creado.
            </div>
            <div v-if="error" class="btn btn-danger">
                {{error}}
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                region: '',
                district: '',
                sector: '',
                regions: [],
                districts: [],
                sectors: [],
                completeName: '',
                email: '',
                password: '',
                name: '',
                group: '',
                recentUser: {},
                error: '',
            };
        },
        mounted() {
            axios.get('/regions').then(response => {
               this.regions = response.data;
                this.sectors = [];
                this.sector = '';
            });
        },
        watch: {
            region: function (val) {
                axios.get(`/regions/${val}/districts`).then(response => {
                    this.districts = response.data;
                    this.sectors = [];
                    this.sector = '';
                });
            },
            district: function (val) {
                axios.get(`/regions/${this.region}/districts/${val}/sectors`).then(response => {
                    this.sectors = response.data;
                });
            },
        },
        methods: {
            storeUser: function () {
                this.error = '';
                axios
                    .post(`/users`, {
                        email: this.email,
                        password: this.password,
                        name: this.name,
                        completeName: this.completeName,
                        sector: this.sector,
                    })
                    .then(response => {
                        this.recentUser = response.data;
                    })
                    .catch(error => {
                        this.error = Object.values(error.response.data);
                    });
            }
        }
    };
</script>
