<template>
    <div>
        <div v-show="false">
            {{stats}}
        </div>
        <highcharts :options="options"></highcharts>
    </div>
</template>

<script>
    export default {
        props:{
            title : {
                required : true
            },
            stats : {
                required: true
            },
            width: {
              type: Number,
              required: false,
              default: null
            },
            height: {
              type: Number,
              required: false,
              default: null
            }
        },
        data: function () {
            return {
                options: {
                    chart: {
                        type: 'pie',
                        width: this.width,
                        height: this.height
                    },
                    title: {
                        text: this.title,
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: 'black'
                                }
                            },
                            showInLegend: true
                        }
                    },
                    legend:{},
                    series: [{
                        name: 'Preguntas',
                        colorByPoint: true,
                        data: this.computedStats,
                    }]
                },
            }
        },
        mounted(){
            this.options.series[0].data = this.computedStats;
        },
        computed: {
            computedStats: function(){
                if(!this.stats){
                    return [];
                }
                return this.stats;
            }
        },
        updated : function () {
            this.options.series[0].data = this.computedStats;
        }
    }
</script>
