<template>
    <div>
        <a role="button" id="questionsReport" class="btn btn-outline-primary"
           href="/users/report-top-ten/download">
            Reporte de usuarios
        </a>
        <img v-if="users.length == 0" src="/images/loader.gif" class="mx-auto d-block">
        <table class="table" v-if="users.length !== 0">
            <thead>
            <tr>
                <th scope="col">Posición</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Score (pts)</th>
                <th scope="col">Detalles</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(user, index) in users">
                <th>{{index+1}}</th>
                <th>{{user.name}}</th>
                <td>{{user.email}}</td>
                <td>{{user.score}}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary" @click="userDetails(user)">Detalles</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="modal fade" id="userDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header ">
                        <h5 class="modal-title text-center" id="exampleModalLabel">
                            {{user.name}} Score : {{user.questionsScore + user.bubbleScore + user.minigamesScore}} puntos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6 mx-auto" v-if="user.questions">
                                    <button type="button" class="btn btn-outline-primary btn-block">
                                        Preguntas <span class="badge badge-light">{{user.questionsScore}} pts</span>
                                    </button>
                                    <span class="badge badge-success">Corectas : {{rightAnswers}}</span>
                                    <span class="badge badge-danger">Incorrectas: {{wrongAnswers}} </span>
                                    <span class="badge badge-dark">Total : {{user.questions.length}}</span>
                                </div>
                                <div class="col-3 mx-auto" v-if="user.bubbles">
                                    <button type="button" class="btn btn-outline-primary btn-block">
                                        Burbujas <span class="badge badge-light">{{user.bubbleScore}} pts</span>
                                    </button>
                                    <span class="badge badge-success">Recolectadas : {{bubblesRecollected}}</span>
                                    <span class="badge badge-danger">Sin recolectar: {{bubblesUncollected}} </span>
                                    <span class="badge badge-dark">Total : {{numBubbles}}</span>
                                </div>
                                <div class="col-3 mx-auto">
                                    <button type="button" class="btn btn-outline-primary btn-block">
                                        Minigames <span class="badge badge-light">{{user.minigamesScore}} pts</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div v-if="user.questions" v-for="(category, key) in questionsByCategory">
                                        <h6 class="text-center" style="margin-top: 10px;">
                                            {{key}}
                                            <small class="text-muted">{{statsCategory(key)[0].answered}} de {{statsCategory(key)[0].total}}</small>
                                        </h6>
                                        <table class="table table-sm table-striped" category>
                                            <thead>
                                            <tr>
                                                <th scope="col">Pregunta</th>
                                                <th scope="col">Respuesta</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="question in category">
                                                <td>{{question.idQuestion}}</td>
                                                <td>
                                                <span v-if="question.answer === 1"
                                                      class="badge badge-pill badge-success">
                                                  <i class="fa fa-check" aria-hidden="true"></i>
                                                </span>
                                                    <span v-else class="badge badge-pill badge-danger">
                                                  <i class="fa fa-times" aria-hidden="true"></i>
                                                </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <table class="table table-sm table-striped" v-if="user.bubbles">
                                        <thead>
                                        <tr>
                                            <th scope="col">Burbuja</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="bubble in user.bubbles">
                                            <td>Burbuja {{bubble.idBubble}} obtenida</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-3">
                                    <table class="table table-sm table-striped" v-if="user.minigames">
                                        <thead>
                                        <tr>
                                            <th scope="col">Minigames</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="minigame in user.minigames">
                                            <td>
                                                Minigame {{minigame.idMinigame}}
                                                <span class="badge badge-pill badge-success">
                                                      <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const _ = require('lodash');
    export default {
        data: function() {
            return {
                users: [],
                user: {},
                numQuestions: 40,
                numBubbles: 40,
                questionCategories: [
                    {
                        category: 'MERCADEO',
                        total: 12,
                        answered: 0
                    },
                    {
                        category: 'DISPONIBILIDAD',
                        total: 10,
                        answered: 0
                    },
                    {
                        category: 'CRITERIOS DE EXHIBICIÓN',
                        total: 8,
                        answered: 0
                    },
                    {
                        category: 'SEGURIDAD',
                        total: 5,
                        answered: 0
                    },
                    {
                        category: 'OMS',
                        total: 5,
                        answered: 0
                    }
                ]
            };
        },
        mounted() {
            axios.get('toptens').then(response => {
                this.users = response.data;
            });
        },
        methods: {
            userDetails: function(user) {
                $('#userDetailsModal').modal('show');
                this.user = user;
            },
            statsCategory: function(category) {
                return this.categories.filter(obj => {
                    return obj.category.toLowerCase() === category.toLowerCase();
                });
            }
        },
        computed: {
            categories: function() {
                if (this.user.questions) {
                    //getting unique objects by its categories, we just want the categories
                    this.questionCategories.forEach(category => {
                        category.answered = this.user.questions.reduce((total, question) => {
                            if (
                                question.answer === 1 &&
                                question.category === category.category
                            ) {
                                return total + 1;
                            } else {
                                return total;
                            }
                        }, 0);
                    });
                    return this.questionCategories;
                } else {
                    return [];
                }
            },
            statsCategories: function() {
                if (this.user.questions) {
                    //calculate the number of accurate questions per category in base of the total questions
                    return this.questionCategories.map(category => {
                        return [
                            {
                                name: category.category,
                                y: category.answered * 100 / category.total
                            },
                            {
                                name: 'Incorrectas',
                                y: (category.total - category.answered) * 100 / category.total
                            }
                        ];
                    });
                } else {
                    return [];
                }
            },
            rightAnswers: function() {
                if (this.user.questions) {
                    return this.user.questions.reduce((total, question) => {
                        if (question.answer === 1) {
                            return total + 1;
                        } else {
                            return total;
                        }
                    }, 0);
                } else {
                    return [];
                }
            },
            wrongAnswers: function() {
                if (this.user.questions) {
                    return this.user.questions.reduce((total, question) => {
                        if (question.answer !== 1) {
                            return total + 1;
                        } else {
                            return total;
                        }
                    }, 0);
                } else {
                    return [];
                }
            },
            bubblesRecollected: function() {
                if (this.user.bubbles) {
                    return this.user.bubbles.length;
                } else {
                    return 0;
                }
            },
            bubblesUncollected: function() {
                if (this.user.bubbles) {
                    return this.numBubbles - this.user.bubbles.length;
                } else {
                    return 0;
                }
            },
            questionsByCategory: function() {
                if (this.user.questions) {
                    return _.groupBy(this.user.questions, 'category');
                } else {
                    return [];
                }
            }
        }
    };
</script>
