<template>
    <div class="row" style="margin-top: 20px">
        <div class="col col-md-7">
            <vue-good-table mode="remote" :columns="columns" :rows="users"
                            @on-page-change="onPageChange"
                            @on-sort-change="onSortChange"
                            @on-column-filter="onColumnFilter"
                            @on-per-page-change="onPerPageChange"
                            :search-options="{enabled: false}"
                            :totalRows="totalRecords"
                            :pagination-options="{ enabled: true , perPage: 10, nextLabel: 'Siguiente', prevLabel: 'Anterior', dropdownAllowAll: false, perPageDropdown: [10]}"
                            styleClass="vgt-table striped bordered">
                <template slot="table-row" slot-scope="props">
                    <span v-if="props.column.label == 'Acciones'">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-primary" @click="userDetails(props.row)">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-info" @click="showChart(props.row)">
                                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary" @click="editUserModal(props.row)">
                                    <i class="fas fa-user-edit"></i>
                                </button>
                                <a role="button" class="btn btn-sm btn-warning" :href="'users/'+props.row.id+'/report'">
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                </a>
                                 <button type="button" class="btn btn-sm btn-danger" @click="deleteUser(props.row,1)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </span>
                    <span v-else-if="props.column.label == 'Nombre'">
                        <p style="font-size: 12px">{{props.formattedRow[props.column.field]}}</p>
                    </span>
                    <span v-else-if="props.column.label == 'Email'">
                        <span class="badge badge-secondary" style="font-size: 12px">{{props.formattedRow[props.column.field]}}</span>
                    </span>
                    <span v-else-if="props.column.label == 'Sector'">
                        <span class="badge badge-secondary" style="font-size: 12px">{{props.formattedRow[props.column.field]}}</span>
                    </span>
                    <span v-else>
                      {{props.formattedRow[props.column.field]}}
                    </span>
                </template>
            </vue-good-table>
        </div>
        <div class="col col-md-5">
            <div v-if="user">
                <h3 class="text-center">{{user.name}}</h3>
                <div style="overflow: scroll; height: 80vh; overflow-y:auto;">
                    <columnchart :title="'Preguntas'" :stats="questionsStats" :width=400 :height=300></columnchart>
                    <piechart :title="'Burbujas'" :stats="bubblesStats" :width=400 :height=300 ></piechart>
                    <hr>
                    <div v-for="category in statsCategories" v-if="statsCategories">
                        <columnchart :title="'Categoría ' + category[0].name.toLowerCase()" :stats="category" :width=400 :height=300></columnchart>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal User details-->
        <div class="modal fade" id="userDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header ">
                        <h5 class="modal-title text-center" id="exampleModalLabel">
                            {{user.name}} Score : {{user.questionsScore + user.bubbleScore + user.minigamesScore}} puntos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6 mx-auto" v-if="user.questions">
                                    <button type="button" class="btn btn-outline-primary btn-block">
                                        Preguntas <span class="badge badge-light">{{user.questionsScore}} pts</span>
                                    </button>
                                    <span class="badge badge-success">Corectas : {{rightAnswers}}</span>
                                    <span class="badge badge-danger">Incorrectas: {{wrongAnswers}} </span>
                                    <span class="badge badge-dark">Total : {{user.questions.length}}</span>
                                </div>
                                <div class="col-3 mx-auto" v-if="user.bubbles">
                                    <button type="button" class="btn btn-outline-primary btn-block">
                                        Burbujas <span class="badge badge-light">{{user.bubbleScore}} pts</span>
                                    </button>
                                    <span class="badge badge-success">Recolectadas : {{bubblesRecollected}}</span>
                                    <span class="badge badge-danger">Sin recolectar: {{bubblesUncollected}} </span>
                                    <span class="badge badge-dark">Total : {{numBubbles}}</span>
                                </div>
                                <div class="col-3 mx-auto">
                                    <button type="button" class="btn btn-outline-primary btn-block">
                                        Minigames <span class="badge badge-light">{{user.minigamesScore}} pts</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div v-if="user.questions" v-for="(category, key) in questionsByCategory">
                                        <h6 class="text-center" style="margin-top: 10px;">
                                            {{key}}
                                            <small class="text-muted">{{statsCategory(key)[0].answered}} de {{statsCategory(key)[0].total}}</small>
                                        </h6>
                                        <table class="table table-sm table-striped" category>
                                            <thead>
                                            <tr>
                                                <th scope="col">Pregunta</th>
                                                <th scope="col">Respuesta</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="question in category">
                                                <td>{{question.idQuestion}}</td>
                                                <td>
                                                <span v-if="question.answer === 1"
                                                      class="badge badge-pill badge-success">
                                                  <i class="fa fa-check" aria-hidden="true"></i>
                                                </span>
                                                    <span v-else class="badge badge-pill badge-danger">
                                                  <i class="fa fa-times" aria-hidden="true"></i>
                                                </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <table class="table table-sm table-striped" v-if="user.bubbles">
                                        <thead>
                                        <tr>
                                            <th scope="col">Burbuja</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="bubble in user.bubbles">
                                            <td>Burbuja {{bubble.idBubble}} obtenida</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-3">
                                    <table class="table table-sm table-striped" v-if="user.minigames">
                                        <thead>
                                        <tr>
                                            <th scope="col">Minigames</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="minigame in user.minigames">
                                            <td>
                                                Minigame {{minigame.idMinigame}}
                                                <span class="badge badge-pill badge-success">
                                                      <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="card" v-for="dygame in user.dynamic_minigames">
                                        <div class="card-body">
                                            <h5 class="card-title" style="font-size: 16px;">{{dygame.dynamic_minigame_catalogue.name}}</h5>
                                            <p class="card-text">
                                                <span class="badge badge-primary">
                                                    {{dygame.score}} / {{dygame.totalTargets}} {{dygame.unitTypeName}}
                                                </span>
                                            </p>
                                            <p class="card-text"><small class="text-muted">{{dygame.dynamic_minigame_catalogue.nameGameType}}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Edit User-->
        <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editUserModalLabel">Editar Usuario</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="updateUser">
                            <div class="form-group">
                                <label for="inputName">Nombre</label>
                                <input type="text" class="form-control" id="inputName"  placeholder="Nombre del usuario" v-model="userEditable.name">
                            </div>
                            <div class="form-group">
                                <label for="completeName">Nombre Completo</label>
                                <input type="text" class="form-control" id="completeName" aria-describedby="nameHelp"
                                       placeholder="Nombre Completo"
                                       v-model="userEditable.completeName">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Contraseña</label>
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password" v-model="userEditable.password">
                            </div>
                            <div class="form-group">
                                <label for="region">Región</label>
                                <select class="form-control" id="region" v-model="region">
                                    <option v-for="reg in regions" :value="reg.id">{{reg.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="district">Distrito </label>
                                <select class="form-control" id="district" v-model="district">
                                    <option v-for="dis in districts" :value="dis.id">{{dis.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="sector">Sector | <span class="badge badge-dark" v-if="userEditable.sector">{{userEditable.sector.name}}</span></label>
                                <select class="form-control" id="sector" v-model="sector">
                                    <option v-for="sec in sectors" :value="sec.id">{{sec.name}}</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Actualizar</button>

                            <div class="alert alert-success" v-if="successUpdate" style="margin-top: 10px;">{{successUpdate}}</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const  _ = require('lodash');
    export default {
        data: function () {
            return {
                successUpdate: '',
                numQuestions: 40,
                numBubbles: 40,
                totalRecords : 0,
                users: [],
                serverParams: {
                    columnFilters: {
                    },
                    sort: {
                        field: '',
                        type: '',
                    },
                    page: 1,
                    perPage: 10
                },
                columns: [
                    {
                        label: 'Nombre',
                        field: 'name',
                        filterOptions: {
                            enabled: true,
                            placeholder: 'Filtro por nombre'
                        },
                        sortable: false,
                    },
                    {
                        label: 'Email',
                        field: 'email',
                        filterOptions: {
                            enabled: true,
                            placeholder: 'Filtro por email'
                        },
                        sortable: false,
                    },
                    {
                        label: 'Sector',
                        field:  this.sectorAttribute,
                        filterOptions: {
                            enabled: false,
                        },
                        sortable: false,
                    },
                    {
                        label: 'Acciones',
                        field: 'id',
                        filterOptions: {
                            enabled: false,
                        },
                        sortable: false,
                    }
                ],
                user: {},
                userEditable: {},
                paginate: ['users'],
                questionsMock: [
                    {
                        name: 'Correctas',
                        y: 0,
                        color: '#91e8e1'
                    },
                    {
                        name: 'Incorrectas',
                        y: 0,
                        color: '#f15c80'
                    },
                    {
                        name: 'Sin responder',
                        y: 0,
                        color: '#8085e9'
                    }
                ],
                bubblesMock: [
                    {
                        name: 'Recolectadas',
                        y: 0,
                        sliced: true,
                        selected: true
                    },
                    {
                        name: 'Sin recolectar',
                        y: 0
                    }
                ],
                questionCategories: [
                    {
                        category: 'MERCADEO',
                        total: 12,
                        answered: 0
                    }, {
                        category: 'DISPONIBILIDAD',
                        total: 10,
                        answered: 0
                    }, {
                        category: 'CRITERIOS DE EXHIBICIÓN',
                        total: 8,
                        answered: 0
                    }, {
                        category: 'SEGURIDAD',
                        total: 5,
                        answered: 0
                    }, {
                        category: 'OMS',
                        total: 5,
                        answered: 0
                    }
                ],
                region: '',
                district: '',
                sector: '',
                regions: [],
                districts: [],
                sectors: [],
            };
        },
        mounted() {
            this.loadItems();
            axios.get('/regions').then(response => {
                this.regions = response.data;
                this.sectors = [];
                this.sector = '';
            });
        },
        watch: {
            region: function (val) {
                axios.get(`/regions/${val}/districts`).then(response => {
                    this.districts = response.data;
                    this.sectors = [];
                    this.sector = '';
                });
            },
            district: function (val) {
                axios.get(`/regions/${this.region}/districts/${val}/sectors`).then(response => {
                    this.sectors = response.data;
                });
            },
        },
        methods: {
            sectorAttribute(rowObj) {
                return ((rowObj.sector != null ) ? rowObj.sector.name : null)
            },
            updateParams(newProps) {
                this.serverParams = Object.assign({}, this.serverParams, newProps);
            },

            onPageChange(params) {
                this.updateParams({page: params.currentPage});
                this.loadItems();
            },

            onPerPageChange(params) {
                this.updateParams({perPage: params.currentPerPage});
                this.loadItems();
            },

            onSortChange(params) {
                this.updateParams({
                    sort: {
                        type: params.sortType,
                        field: this.columns[params.columnIndex].field,
                    },
                });
                this.loadItems();
            },

            onColumnFilter(params) {
                this.updateParams(params);
                this.loadItems();
            },

            // load items is what brings back the rows from server
            loadItems() {
                let params = this.serverParams;
                let uri = `/users?page=${params.page}`;
                if(params.columnFilters.name){
                    uri += `&name=${params.columnFilters.name}`
                }
                if(params.columnFilters.email){
                    uri += `&email=${params.columnFilters.email}`
                }
                axios.get(uri).then(response => {
                    this.totalRecords = response.data.total;
                    this.users =  response.data.data;
                })
            },
            userDetails: function (user) {
                $('#userDetailsModal').modal('show');
                this.user = user;
            },
            showChart: function (user) {
                this.user = user;
            },
            deleteUser: function (user, index) {
                const r = confirm("Seguro de que lo quieres Eliminar??");
                if (r){
                    axios.delete(`users/${user.id}`).then(response => {
                        this.users.splice(index, 1);
                    });
                }
            },
            updateUser: function(){
                axios.put(`users/${this.userEditable.id}`,{
                    name : this.userEditable.name,
                    completeName : this.userEditable.completeName,
                    password : this.userEditable.password,
                    sector : this.sector,
                }).then(response => {
                    let newUser = response.data;
                    this.userEditable = response.data;
                    this.updateAdRow(newUser);
                    this.successUpdate = `El usuario ${newUser.name} se actualizo correctamente`;
                })
            },
            editUserModal: function(user){
                $('#editUserModal').modal('show');
                this.region = '';
                this.sector = '';
                this.district = '';
                this.userEditable = user;
                this.successUpdate = '';
            },
            statsCategory: function(category){
                return this.categories.filter(obj => {
                    return obj.category.toLowerCase() === category.toLowerCase()
                });
            },
            updateAdRow: function(user){
                let index = this.users.findIndex(uRow =>{
                    return uRow.id === user.id
                });
                if (index !== -1){
                    Vue.set(this.users, index, user);
                }
            },
        },
        computed: {
            categories: function () {
                if (this.user.questions) {
                    //getting unique objects by its categories, we just want the categories
                    this.questionCategories.forEach(category => {
                        category.answered = this.user.questions.reduce((total, question) => {
                            if (question.answer === 1 && question.category === category.category) {
                                return total + 1;
                            } else {
                                return total;
                            }
                        }, 0);
                    });
                    return this.questionCategories;
                } else {
                    return [];
                }
            },
            statsCategories: function(){
                if( this.user.questions ){
                    //calculate the number of accurate questions per category in base of the total questions
                    return this.questionCategories.map(category => {
                        return  [
                            {
                                name : category.category,
                                y: category.answered * 100 / category.total
                            },
                            {
                                name : 'Incorrectas',
                                y: (category.total - category.answered) * 100 / category.total
                            },
                        ];
                    });
                } else {
                    return [];
                }
            },
            rightAnswers: function () {
                if (this.user.questions) {
                    return this.user.questions.reduce((total, question) => {
                        if (question.answer === 1) {
                            return total + 1;
                        } else {
                            return total;
                        }
                    }, 0);
                } else {
                    return [];
                }
            },
            wrongAnswers: function () {
                if (this.user.questions) {
                    return this.user.questions.reduce((total, question) => {
                        if (question.answer !== 1) {
                            return total + 1;
                        } else {
                            return total;
                        }
                    }, 0);
                } else {
                    return [];
                }
            },
            bubblesRecollected: function () {
                if (this.user.bubbles) {
                    return this.user.bubbles.length;
                } else {
                    return 0;
                }
            },
            bubblesUncollected: function () {
                if (this.user.bubbles) {
                    return this.numBubbles - this.user.bubbles.length;
                } else {
                    return 0;
                }

            },
            questionsStats: function () {
                if (this.user.questions) {
                    let rightAnswers = this.user.questions.filter(question => {
                        return question.answer === 1;
                    });
                    let wrongAnswers = this.user.questions.filter(question => {
                        return question.answer !== 1;
                    });

                    let accuratePercentage = rightAnswers.length * 100 / this.numQuestions;
                    let wrongPercentage = wrongAnswers.length * 100 / this.numQuestions;

                    this.questionsMock[0].y = accuratePercentage;
                    this.questionsMock[1].y = wrongPercentage;
                    this.questionsMock[2].y = 100 - accuratePercentage - wrongPercentage;

                    return this.questionsMock;
                } else {
                    return [];
                }
            },
            bubblesStats: function () {
                if (this.user.questions) {
                    let accuratePercentage = this.user.bubbles.length * 100 / this.numBubbles;
                    this.bubblesMock[0].y = accuratePercentage;
                    this.bubblesMock[1].y = 100 - accuratePercentage;

                    return this.bubblesMock;
                } else {
                    return [];
                }
            },
            questionsByCategory: function(){
                if(this.user.questions){
                    return _.groupBy(this.user.questions, 'category')
                }else {
                    return [];
                }
            }
        }
    };
</script>
