.paginate-links.users{
  display: inline-flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  li.number{
    cursor: pointer;
    color: grey;
    margin-top: 5px;
  }
  li a {
    color: #9c9c9c;
  }
  li {
    color: grey;
    list-style-type: none;
    margin-left: 15px;
  }
  li.active a{
    color: black;
    font-weight: bold;
  }
  li.next:before{
    content: ' | ';
    margin-right: 13px;
    color: #ddd;
  }
  li.disabled a{
    color: #ccc;
    cursor: no-drop;
  }
  li.left-arrow > a , li.right-arrow > a{
    color: green;
    font-size: 20px;
  }
}

.badge {
  margin-left: 3px;
  margin-right: 3px;
}
label{
  font-weight: bold;
}
